<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta http-equiv="refresh" content="3;url=../../books" />
    <link rel="stylesheet" th:href="@{/static/application.css}" href="/static/application.css" />
    <title>Usunięto</title>
    <script th:inline="javascript">
    /*<![CDATA[*/
    function init() {
	    var seconds = 3;
	    var counter = document.getElementById('timeLeft');
   		counter.innerHTML = seconds + 's';
		counter.style.fontStyle = 'normal';   		
		counter.style.color = '#FF3D3D';   		
	   	
   		var interval = setInterval(function() {
	   		document.getElementById('timeLeft').innerHTML = --seconds + 's';
	   	    if (seconds <= 0) {
	   	        clearInterval(interval);
	   	    }
	   	}, 1000);
    }
   	/*]]>*/
    </script>
</head>
<body onload="init()">
	<div id="nav" class="whitebg">
		<div class="content">
			<div>
				<a href="../../home">Strona główna</a>
			</div>
			<div>
				<a href="../../books">Lista książek</a>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="whitebg article">
			<p>Książka o tytule <span th:text="${title}"></span> została usunięta.</p>
			<p>Za <span id="timeLeft"></span> nastąpi przekierowanie...</p>
		</div>
	</div>
</body>
</html>