<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/static/application.css}" href="/static/application.css" />
    <title>Szukaj książek</title>
</head>
<body>
	<div id="nav" class="whitebg">
		<div class="content">
			<div>
				<a href="home">Strona główna</a>
			</div>
			<div>
				<a href="books">Lista książek</a>
			</div>
			<div>
				<a href="libraries">Lista bibliotek</a>
			</div>
			<div>
				<a href="search">Szukaj</a>
			</div>
		</div>
	</div>
	<div class="content">
		<form action="search" method="GET">
			<input type="text" name="bookTitle" placeholder="Tytuł książki" th:value="${criteria.title}" />
			<input type="text" name="bookAuthor" placeholder="Autor książki" th:value="${criteria.author}" />
			<input type="text" name="libraryName" placeholder="Nazwa biblioteki" th:value="${criteria.libraryName}" />
			<input type="submit" value="Szukaj" />
		</form>
	    <table id="bookList" th:hidden="${books} == null">
	    	<tr>
	    		<th>ID</th>
	    		<th>Tytuł książki</th>
	    		<th>Autorzy</th>
	    		<th>&nbsp;</th>
	    	</tr>
	    	<tr th:each="book : ${books}">
	        	<td th:text="${book.id}">id</td>
	        	<td th:text="${book.title}">title</td>
	        	<td th:text="${book.authors}">authors</td>
	        	<td>
	        		<form><!--  th:action="@{/delete/book/} + ${book.id}" method="GET"> -->
	        			<input type="submit" value="Usuń" />
	       			</form>
				</td>
	        </tr>
	    </table>
    </div>
</body>
</html>