table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  margin-top: 15px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
p input.form-control {
  display: inline;
  width: 37%;
}
input.spanButton {
  min-width: 135px;
  width: 24%;
}
h1 input.form-control {
  font-size: 36pt;
  height: 75px;
}
