<div>
    <form validate ng-submit="addAuthor()">
        <div class="modal-header">
            <h3 class="modal-title">Dodaj autora</h3>
        </div>
        <div class="modal-body">
           	<input class="form-control" type="text" ng-model="firstName" name="firstName" placeholder="Imię" required />
           	<input class="form-control" type="text" ng-model="lastName" name="lastName" placeholder="Nazwisko" required />
        </div>
        <div class="modal-footer">
            <input type="submit" value="Dodaj autora" class="btn btn-success" />
            <input type="button" value="Anuluj" class="btn btn-warning" ng-click="$dismiss()" />
        </div>
    </form>
</div>