<div>
    <form novalidate>
        <div class="modal-header">
            <h3 class="modal-title">Dodaj autora</h3>
        </div>
        <div class="modal-body">
			<form>
            	<input class="form-control" type="text" ng-model="firstName" placeholder="Imię" required/>
            	<input class="form-control" type="text" ng-model="lastName" placeholder="Nazwisko" required/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="!(!!firstName && !!lastName)" ng-click="addAuthor()">Dodaj autora</button>
            <button class="btn btn-warning" ng-click="$dismiss()">Anuluj</button>
        </div>
    </form>
</div>