<div>
    <form validate name="addBookForm" ng-submit="authorsNotEmpty() && saveBook()">
        <div class="modal-header">
            <h3 class="modal-title">{{ modalTitle }}</h3>
        </div>
        <div class="modal-body">
            <h1><input class="form-control" type="text" ng-value="bookTitle" ng-model="bookTitle" placeholder="Tytuł" required/></h1>
            <p>Autorzy:</p>
            <div flash-message="5000" ng-show="editing"></div>
            <p ng-repeat="author in authors">
            	<input class="form-control" type="text" ng-model="authors[$index].firstName" placeholder="Imię" required/>
            	<input class="form-control" type="text" ng-model="authors[$index].lastName" placeholder="Nazwisko" required/>
            	<input class="btn btn-danger spanButton" type="button" ng-click="removeAuthor($index)" value="Usuń tego autora" />
            </p>
            <p>
            	<input class="btn btn-primary" type="button" ng-click="addAuthor()" value="Dodaj nowego autora" />
            </p>
        </div>
        <div class="modal-footer">
            <input type="submit" ng-value="buttonText" class="btn btn-success" />
            <input type="button" value="Anuluj" class="btn btn-warning" ng-click="editing = false;$dismiss()" />
        </div>
    </form>
</div>