<div>
    <form novalidate>
        <div class="modal-header">
            <h3 class="modal-title">Dodaj książkę</h3>
        </div>
        <div class="modal-body">
			<form>
	            <h1><input class="spanFull" type="text" ng-value="bookTitle" ng-model="bookTitle" placeholder="Tytuł"/></h1>
	            <p>Podaj autorów:</p>
	            <p>
	            	<input class="spanHalf" type="text" ng-model="firstName" placeholder="Imię" required/>
	            	<input class="spanHalf" type="text" ng-model="lastName" placeholder="Nazwisko" required/>
	            </p>
	            <p>
	            	<input type="button" ng-click="addAuthor()" value="Dodaj kolejnego autora" />
	            </p>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="!(!!firstName && !!lastName && !!bookTitle)" ng-click="saveBook();$dismiss()">Zapisz</button>
            <button class="btn btn-warning" ng-click="$dismiss()">Anuluj</button>
        </div>
    </form>
</div>